/* ===============NAVBAR================*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16213e;
    padding: 15px 30px;
}

.navbar-logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #e94560;
}

.navbar-user{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

/* ==============BOUTON DE DECONNEXION===========*/
.btn-logout{
    background-color: #e94560;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-logout:hover{
    background-color: #c73652;
}

/*==========CONTAINER==============*/
.create-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
}

/*=========CARTE==========*/
.create-card{
    background-color: #16213e;
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

.create-card h2{
    color: #e94560;
    margin-bottom: 25px;
    text-align: center;
}

/*============LABELS============*/
label{
    display: block;
    color: #a0a0b0;
    margin-bottom: 5px;
    margin-top: 15px;
}

/*============INPUTS ET SELECTS===========*/
input, select{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #0f3460;
    border-radius: 8px;
    background-color: #0f3460;
    color: white;
    font-size: 1rem;
    outline: none;
}

input:focus, select:focus{
    border-color: #e94560;
}

/*===========CHECKBOX==============*/
.checkbox-group{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.checkbox-group input {
    width: auto;
}

.checkbox-group label{
    margin: 0;
    color: white;
}

/*============BOUTON CRÉER============*/
button{
    width: 100%;
    padding: 12px;
    background-color: #e94560;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    background-color: #c73652;
}

/*==========BOUTON RETOUR==========*/
.btn-retour{
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #a0a0b0;
    text-decoration: none;
}

.btn-retour:hover{
    color:white;
}

/*===========ERREUR=============*/
.error-message{
    background-color: rgba(233, 69, 96, 0.3);
    border: 1px solid #e94560;
    color: #e94560;
    padding: 10px;
    border-radius: 8px;
    margin-bottom:15px;
    text-align: center;
}
