{% extends 'base.html' %}
{% load static %}

{% block title %}{{ room_code }} -- Taro Africain {% endblock %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/game_room.css' %}">
{% endblock %}

{% block content %}

<!--NAVBAR-->
<nav class="navbar">
    <div class="navbar-logo">Taro Africain</div>
    <div class="navbar-info">
        <span id="tour-info">⏳ En attente...</span>
    </div>
</nav>

<!--ZONE-ADVERSAIRE-->
<div class="zone-adversaires" id="zone-adversaires">
    <!--REMPLI-PAR-LE-JS-->
</div>

<!--ZONE-CENTRALE-->
<div class="zone-centrale">
    <div class="pot-container">
        <p class="label">POT</p>
        <img src="{% static 'images/back.png' %}" alt="Pot" id="pot-card">
        <p id="penalty-info"></p>
    </div>

    <div class="game-info">
        <p id="declared-suit"></p>
        <p id="bank-count"></p>
    </div>
</div>

<!--ZONE-MAIN-->
<div class="zone-main">
    <div class="hand-cards" id="hand-cards">
        <!--CARTES-JOUEURS-->
    </div>

    <div class="actions">
        <button id="btn-draw" onclick="drawCard()">Piocher</button>
    </div>
</div>

<div id="suit-modal" class="modal-overlay" style="display:none;">
    <div class="modal-content">
        <p>Choisissez une couleur</p>
        <div class="suit-options">
            <img src="{% static 'images/cards/suit-heart.png' %}"   data-suit="heart"   class="suit-icon">
            <img src="{% static 'images/cards/suit-diamond.png' %}" data-suit="diamond" class="suit-icon">
            <img src="{% static 'images/cards/suit-spade.png' %}"   data-suit="spade"   class="suit-icon">
            <img src="{% static 'images/cards/suit-club.png' %}"    data-suit="club"    class="suit-icon">
        </div>
    </div>
</div>

<!--DONNÉES-CACHÉES-->
<div id="game-data" data-room-code="{{ room_code }}" data-player-id="{{ request.user.id }}" style="display: none;"></div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/game_room.js' %}"></script>
{% endblock %}