{% extends 'base.html' %}
{% load static %}

{% block title %}Connexion Taro Africain {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h1>Taro Africain</h1>
        <h2>Connexion</h2>

        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Pseudo">
            <input type="password" name="password" placeholder="Mot de passe">
            <button type="submit">Se connecter</button>
        </form>
        <p>Pas encore de compte ? <a href="{% url 'register' %}">S'inscrire</a></p>
    </div>
</div>
{% endblock %}